@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #DBDBDB;
    color: #5C5552;
    overflow-x: hidden;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'alegreya', serif;
  font-size: 21px;
  font-weight: 500;
  color: #5C5552;
}

/* header */
header {
    position: fixed;
    top: 20px;
    /* left: 20px; */
    z-index: 1000;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-around;
    max-width: 1500px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #A87C4D;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 39px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #5C5552;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #A87C4D;
}

.btn-primary{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #B1B1B1;
    border-radius: 12px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-primary:hover{
    background-color: #A87C4D;
    color: #ffffff;
    border: 2px solid #A87C4D;
}

/* hero section */
.hero {
    background: url('images/hero-header-bg.png') no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 80px;
    padding: 112px 2rem 2rem;
}

.hero-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.profile-pic-container {
    flex-shrink: 0;
    overflow: hidden;
}

.profile-pic {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    object-fit: cover;
}

.hero-text {
    max-width: 600px;
    display: flex;
    flex-direction: column; 
    gap: 48px;
}

.hero-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.hero-text h1 span {
    color: #A87C4D;
}

.hero-text h2{
    font-family: 'Alegreya', serif;
    font-size: 64px;
    font-weight: 500;
    max-width: 13ch;
    color: #000000;
}


.hero-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: regular;
    line-height: 1.5;
    max-width: 28ch;
}

.hero-text .btn-primary {
    background-color: #A87C4D;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    height: 56px;
    width: 292px;
    text-align: center;
}   

/* about section */
.about {
    background-image: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 112px;
    background-color: #ffffff;
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.about-section h2:first-of-type {
    font-family: 'Poppins', serif;
    font-size: 24px;
    font-weight: 500;
    color: #A87C4D;
}

.about-section h2:last-of-type{
    font-family: 'Alegreya', sans-serif;
    font-size: 48px;
    font-weight: 500;
    max-width: 35ch;
    width: 825px;
    color: #000000;
}

.about-section p {
    font-family: 'Poppins', serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.62;
    width: 825px;
}

/* external links */
.external-links {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    padding: 16px 48px;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 48px;
    gap: 16px;
    width: 153px;
    height: 143px;
}

.external-links a{
    display: flex;
    align-items: center;
    background-color: #F7F0F5;
    border-radius: 30px;
    padding: 16px 24px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.external-links a:hover{
    transform: translateY(-5px);
}

.external-links img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.external-links a p:first-of-type {
    font-family: 'Alegreya', serif;
    font-size: 21px;
    font-weight: bold;
    text-align: center; 
}

.external-links a p:last-of-type {
    font-family: 'Poppins', sans-serif;
    font-weight: regular; 
    font-size: 16px;
    color: #5C5552;
    text-align: center; 
}

/* experience section */
.experience {
    background-color: #ffffff;
    padding: 80px 0;
}

.experience-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 48px;
}
.experience-heading h2{
    text-align: center;
}

.experience-heading h2:first-of-type{
    font-family: 'Poppins', serif;
    font-size: 24px;
    font-weight: 500;
    color: #A87C4D;
}

.experience-heading h2:last-of-type{
    font-family: 'Alegreya', serif;
    font-size: 48px;
    font-weight: 500;
    color: #000000;
}

/* timeline */
.timeline {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

/* Timeline Line */
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #B1B1B1;
    margin-left: -1px;
    border-radius: 5px;
}

.timeline-item {
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.timeline-item.left{
    left: 0.68%;
}

.timeline-item.right{
    left: 49.5%;
}

.timeline-item.left .timeline-content {
    text-align: right;
}

.timeline-icon {
    width: 54px;
    height: 54px;
    background-color: #F7F0F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    z-index: 1;
}

.timeline-item.left .timeline-icon {
    left: 95%;
}
.timeline-item.right .timeline-icon {
    right: 95%;
}

.timeline-icon img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.timeline-content {
    padding-bottom: 50px;
    flex-grow: 1;
    transition: transform 0.3s ease;
}

.timeline-content.left{
    padding-top: 10px;
    padding-right: 80px;
}

.timeline-content.right{
    padding-top: 10px;
    padding-left: 80px;
}

.timeline-content:hover {
    transform: translateY(-5px);
}

.timeline-content h3 {
    font-family: 'Alegreya', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.timeline-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: regular;
    color: #5C5552;
}

/* project section */

.projects {
    padding: 80px 112px;
    background-color: #ffffff;
}

.project-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
}

.project-heading h2:first-of-type {
    font-family: 'Poppins', serif;
    font-size: 24px;
    font-weight: 500;
    color: #A87C4D;
}

.project-heading h2:last-of-type {
    font-family: 'Alegreya', serif;
    font-size: 48px;
    font-weight: 500;
    color: #000000;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 48px;

}

.project-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-left img {
    object-fit: contain;
}

.header-left h3 {
    font-family: 'Alegreya', serif;
    font-size: 32px;
    font-weight: 500;
    color: #000000;
}

.project-content-header a {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.btn-secondary{
    display: flex;
    gap: 8px;
    background-color: #A87C4D;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    border-radius: 30px;
    border: none;
    height: 52px;
    width: 173px;
    text-align: left;
}

.btn-secondary-footer {
    background-color: #A87C4D;
    padding: 14px;
    border-radius: 30px;
}

.project-content-main{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-content-main p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: regular;
    color: #5C5552;
    line-height: auto;
    text-align: left;
}

.project-content-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    overflow: hidden;
    box-sizing: border-box;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #F7F0F5;
    padding: 12px 24px;
    flex: 1 1 calc(20% - 1rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 8px;
}

.tool img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.tool p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.footer-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.project-footer {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-footer .tool {
    width: 176.67px;
    height: 48px;
}

/* article section */
.articles {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0 80px 112px;
    background-color: #ffffff;
}

.articles-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
}

.articles-heading h2:first-of-type {
    font-family: 'Poppins', serif;
    font-size: 24px;
    font-weight: 500;
    color: #A87C4D;
}

.articles-heading h2:last-of-type {
    font-family: 'Alegreya', serif;
    font-size: 48px;
    font-weight: 500;
    color: #000000;
}

.articles-container {
    display: flex;
    overflow: hidden;
    gap: 60px;
    scroll-behavior: smooth;
    width: 100%;
    position: relative;
}


.articles-card {
    background-color: #F7F0F5;
    border-radius: 30px;
    overflow: hidden;
    padding: 8px;
    width: 516px;
    height: 614px;
    text-align: left;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.articles-card:hover {
    transform: translateY(-5px);
}

.articles-card img {
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.article-date {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500; 
    color: #646464;
}

.article-content h3 {
    font-family: 'Alegreya', serif;
    font-size: 36px;
    font-weight: 500;
    color: #000000;
}

.btn-article {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 12px;
    padding: 24px 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #433633;
    border-radius: 30px;
    background-color: #ffffff;
    width: 171px;
    height: 52px;
}

.btn-article img {
    width: 14px;
    object-fit: contain;
    fill: #433633;
}

.articles-navigation {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 16px;
    padding-right: 112px;
}

.nav-btn {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    fill: #ffffff;
}

.nav-btn .prev-btn{
    background-color: #A87C4D;
}

.nav-btn .prev-btn img{
    fill: #ffffff;
}

.nav-btn .next-btn{
    background-color: #F7F0F5;
}

.nav-btn .next-btn img{
    fill: #646464;
}

.nav-btn:hover {
    /* background-color: #A87C4D; */
}

/* quote section */
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 112px;
    background-color: #ffffff;
    position: relative;
}

.quote-container{
    text-align: center;
    position: relative;
}

.quote-icon {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
}

.quote-container h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    max-width: 80ch;
}

.quote-container p {
    padding-top: 80px;
    font-family: 'Alegreya', serif;
    font-size: 32px;
    font-weight: mixed;
    text-align: center;
    color: #433633;
}

.footer-bg{
    background: url('images/footer-bg.png') no-repeat center center;
    background-size: cover;
}

/* contact section */
.contact-me {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.contact-header h2 {
    font-family: 'Alegreya', serif;
    font-size: 48px;
    font-weight: 500;
    color: #000000;
    text-align: center;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 640px;
    width: 100%;
}

.form-group input{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #5C5552;
    border: 1px solid #B1B1B1;
    border-radius: 12px;
    padding: 13px;
    text-align: left;
    width: 311px;
    height: 56px;
    background-color: transparent;
}

.form-group input:focus{
    outline: none;
    border: 1px solid #B1B1B1;
}

.form-group textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #5C5552;
    border: 1px solid #B1B1B1;
    border-radius: 12px;
    padding: 13px;
    text-align: left;
    width: 100%;
    height: 115px;
    resize: none;
    background-color: transparent;
}

.form-group textarea:focus{
    outline: none;
    border: 1px solid #B1B1B1;
}

.form-group button{
    background-color: #A87C4D;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    width: 288px;
    height: 56px;
    text-align: center;
    cursor: pointer;
}

.form-group-a {
    display: flex;
    gap: 18px;
}

.form-group-c {
    display: flex;
    gap: 18px;
}

.form-group-c input{
    width: 334px;
}

/* footer */
.footer{
    padding-top: 58px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 28px;
}

.footer-links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.link{
    border-radius: 50%;
    padding: 10px;
    background-color: #ffffff;
    width: 44px;
    height: 44px;
}

.link img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

